{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 170,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "useTabs": false,
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "vueIndentScriptAndStyle": true
}
